@if (Options?.FixturesData != null)
{
    string cardMargin = Options.NoCardMargin ? "m-0" : "";

    <div class="card w-100 @cardMargin" >
            <div class="row no-gutters pr-4 pl-4 pt-4 pb-0">
                <div class="col-md-4">
                    <div class="kt-flex-vertical-center-column">
                        <div class="kt-live-logo mx-auto">
                            <img class="img-fluid kt-live-team-logo my-auto" src="@Options.FixturesData.localTeam?.data?.Logo_Path" style="max-width: 60px" />
                        </div>
                        <div class="kt-live-team-name my-auto mx-auto">
                            <p class="kt-team-name font-weight-bolder mb-0 text-center">@Options.FixturesData.localTeam?.data?.Name</p>
                        </div>
                    </div>

                </div>
                <div class="col-md-4 kt-flex-vertical-center">
                    <div class="kt-live-game-result mx-auto">
                        <p class="small text-center">
                            <span class="small">
                                @Options.FixturesData.league?.data?.name
                            </span>
                        </p>
                        <h3 class="text-center mb-0 font-weight-bolder">
                            @Options.FixturesData.scores?.Localteam_Score : @Options.FixturesData.scores?.Visitorteam_Score
                        </h3>
                        @if (Options.FixturesData.time?.Minute.HasValue ?? false)
                        {
                            <p class="small text-center">
                                <span class="small">played: @Options.FixturesData.time.Minute</span>
                                @if (@Options.FixturesData.time.Minute > 50 && Options.FixturesData.time.Status.ToUpper() != "LIVE")
                                {
                                    <span class="small"> | FINISHED</span>
                                }
                            </p>

                        }
                        else
                        {

                            @if (DateTime.TryParse(Options.FixturesData.time.Starting_At.Date_Time, out DateTime time))
                            {
                                <p class="small text-center">
                                    <span class="small">
                                        Starting at: @time.ToLongTimeString() UTC | @((time.AddHours(2)).ToLongTimeString())
                                    </span>
                                </p>
                            }

                        }
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="kt-flex-vertical-center-column">
                        <div class="kt-live-logo mx-auto">
                            <img class="img-fluid kt-live-team-logo" src="@Options.FixturesData.visitorTeam?.data?.Logo_Path" style="max-width: 60px" />
                        </div>
                        <div class="kt-live-team-name my-auto mx-auto">
                            <p class="kt-team-name font-weight-bolder mb-0 text-center">@Options.FixturesData.visitorTeam?.data?.Name</p>
                        </div>
                    </div>

                </div>
            </div>
            @if (Options.FixturesData.stats?.data?.Any() ?? false)
            {
                var homeTeamStats = Options.FixturesData.stats.data.FirstOrDefault(s => s.team_id == Options.FixturesData.localTeam.data.Id);

                var visitorTeamStats = Options.FixturesData.stats.data.FirstOrDefault(s => s.team_id == Options.FixturesData.visitorTeam.data.Id);

                <div class="table-responsive">
                    <table class="table table-sm table-striped small mb-0">
                        <tbody>
                            <tr>
                                <td class="text-center">
                                    @homeTeamStats.possessiontime
                                </td>
                                <td class="text-center">
                                    Possession
                                </td>
                                <td class="text-center">
                                    @visitorTeamStats.possessiontime
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center">
                                    @homeTeamStats?.shots?.total
                                </td>
                                <td class="text-center">
                                    Total shots
                                </td>
                                <td class="text-center">
                                    @visitorTeamStats?.shots?.total
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center">
                                    @homeTeamStats?.shots?.ongoal
                                </td>
                                <td class="text-center">
                                    Shots on target
                                </td>
                                <td class="text-center">
                                    @visitorTeamStats?.shots?.ongoal
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            }
        </div>


}

@code {
    [Parameter]
    public LiveMatchDisplayComponentOptions Options { get; set; }
}
